body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
  header {
    justify-self: start;
  }
  h1 {
    font-size: 20px;
    justify-self: start;
    text-decoration: underline;
    color: white;
  }