main.home-main {
  background-color: rgb(12, 12, 58);
  color: white;
  margin: 0px;
}
.content {
  display: flex;
  flex-direction: row;
}
.dropdownEditPara{
  color: rgb(29, 205, 159);
  font-size: 20px;
}
.dropdownEditPara:hover, .dropdownEditPara:focus {
  font-size: 25px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdownEditor {
  display: none;
  background-color: rgb(22, 153, 118);
  border: none;
  border-radius: 5px;
  z-index: 1;
}
.dropdownEditor input {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdownEditor p:hover {
  background-color: #ddd;
}
.show {display:block;}
.content-Editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 5px;
  margin-left: 30px;
  input, select{
      background-color: #ddddddb7;
      border-radius: 3px;
      width: 150px;
      height: 34px;
    }
  textarea{
      background-color: #ddddddb7;
      width: 200px;
      height: 100px;
    }
  #saveBtn {
      width: 250px;
      height: 25px;
    }
  
}
.content-Output{
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 0, 255, 0.1);
  border: black 2px solid;
  padding: 10px;
  margin: 5px;
  }

@media screen and (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .content-Output {
    margin: 0px;
    padding: 0px;
  }
  
}
@media screen and (max-width: 800px) {
  .content-Output {
    margin: 0px;
    padding: 0px;
    width: 100rem;
  }
  
}
@media screen and (min-width: 1000px) {
  .content-Output {
    margin: 0px;
    padding: 0px;
    width: 100rem;
  }
  
}