body {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 60px 50px auto 50px;
  background-color: rgb(12, 12, 58);
  color: white;
  margin-left: 10px;
}
button {
  height: 20px;
  width: 60px;
}


div > .editor {
  display: grid;
  grid-row: 3;
}
main {
  grid-row: 3;
  grid-column: 1;
}

#output {
  grid-row: 3;
  grid-column: 2;
}
.saveData > button{
  width: 300px;
}