main.home-main {
  background-color: rgb(12, 12, 58);
  color: white;
  margin: 0px;
}
.content {
  display: flex;
  flex-direction: row;
}
.dropdownTextPara{
  color: green;
  font-size: 30px;
}
.dropdownTextPara:hover, .dropdownTextPara:focus {
  background-color: #b92929;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdownTextEditor {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownTextEditor p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownTextEditor p:hover {
  background-color: #ddd;
}
.show {display:block;}
.content-Editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 5px;
  margin-left: 30px;
  input, select{
      background-color: #ddddddb7;
      border-radius: 3px;
      width: 150px;
      height: 34px;
    }
  textarea{
      background-color: #ddddddb7;
      width: 200px;
      height: 100px;
    }
  #saveBtn {
      width: 250px;
      height: 25px;
    }
  
}
.content-Output{
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 0, 255, 0.1);
  border: black 2px solid;
  padding: 10px;
  margin: 5px;
  }

@media screen and (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .content-Output {
    margin: 0px;
    padding: 0px;
  }
  
}
@media screen and (max-width: 800px) {
  .content-Output {
    margin: 0px;
    padding: 0px;
    width: 100rem;
  }
  
}
@media screen and (min-width: 1000px) {
  .content-Output {
    margin: 0px;
    padding: 0px;
    width: 100rem;
  }
  
}