body {
  background-color: rgb(12, 12, 58);
  display: flex;
  color: white;
  margin-left: 10px;
}
button {
  height: 20px;
  width: 60px;
}

main {
  flex-direction: columm;
  justify-content: flex-end;
}


.saveData > button{
  width: 300px;
}
#output {
  margin: 70%;
  padding: 50%;
}