body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

header {
  justify-self: start;
  width: 100%;
}

h1 {
  font-size: 20px;
  justify-self: start;
  text-decoration: underline;
  color: white;
}
main {
  margin: 20px;
}
footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  text-align: center;
  color: #000;
  background-color: white;
}