@import url(colors.css);
body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

header {
  position: sticky;
  justify-self: start;
  width: 100%;
}

h1 {
  font-size: 30px;
  justify-self: start;
  text-decoration: none;
  color: var(--header-color);
}

footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  text-align: center;
  color: var(--footer-color);
  background-color: var(--footer-background-color);
}