@import url(colors.css);
main {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Größe anpassen */
    max-width: 500px;
    width: 100%;
    margin: 4rem auto; /* zentriert horizontal und Abstand nach oben/unten */
    padding: 2rem 2.5rem;
    background: rgba(22, 153, 118, 0.342);
    border: 3px solid rgb(255,255,255);
    font-size: 1.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.3ch;
    position: relative;
    box-sizing: border-box;
}

.container::before {
    pointer-events: none;
    content: '';
    border: 2px solid #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

button {
    border-radius: 5px;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}
@media screen and (max-width: 450px) {
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media screen and (min-width: 720px) {
    main{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .container {
        max-width: 800px;
        padding: 3rem 4rem;
    }
}
@media screen and (min-width: 1024px) {
    main{
        margin-left: 10rem;
        margin-right: 10rem;
    }
}