@import url(colors.css);
body {
    display: flex;
}
form a {
    text-decoration: none;
}
button {
    border-radius: 5px;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}
@media screen and (min-width: 480px) {
    main{
        margin-left: 10%;
        margin-right: 10%;
    }
}