@import url(colors.css);
body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
.postContent {
    margin-left: 50px;
    margin-right: 50px;
}
.card{
    display: flex;
    border: 2px var(--colors-black) solid;
    justify-content: space-between;
}
.card-footer button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
}