@import url(colors.css);
body {
    display: flex;
}
.register {

    margin-right: 50px;
}
form a {
    text-decoration: none;
}
button {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}