body {
    display: flex;
}
.register {
    margin-top: 60px;
    padding-right: 50px;
}
form a {
    text-decoration: none;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(33, 33, 231);
    color: white;
}