@import url(colors.css);

.settings-main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.container {
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.row {
    display: flex;

}
.card{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    background-color: var(--sub-primary-color);
    color: var(--primary-text-color);
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}
.card-profile {

    margin: 20px;
}
img {
    max-width: 100px;
    max-height: 150px;
    border-radius: 50%;
}
