@import url(colors.css);

.settings-main {
    display: flex;
    flex-direction: row;
}
.container {
    margin: 10px;
    background-color: blue;
}
.card{
    background-color: rgb(255, 0, 0);
}
.card-profile{
    background-color: rgb(22, 153, 118);
}
img {
    max-width: 100px;
    max-height: 150px;
}
