@import url(colors.css);

.settings-main {
    display: flex;
    flex-direction: row;
}
.container {
    padding: 10px;
}
.card{
    padding: 30px;
    background-color: rgb(255, 0, 0);
}
.card-body{
    background-color: rgba(22, 153, 118);
}
img {
    max-width: 100px;
    max-height: 150px;
}
